#article-image {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#clock {
  margin-bottom: 10px;
}

#title {
  text-align: center;
  margin-top: 8px;
}

#read-more-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#created-date {
  text-align: right;
  font-weight: bold;
  font-size: small;
}

#article-content {
  width: 800px;
  padding-left: auto;
  padding-right: auto;
  display: block;
}

#article-class {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
}

#dropdown-menu {
  margin-top: 5px;
}

#login-button {
  margin-left: 26px;
}

#logout-button {
  margin-left: 26px;
}

