#article-image {
  width: "auto";
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#title {
  text-align: center;
  margin-top: 8px;
}

#tagline {
  padding-top: 50px;
}


#read-more-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}